body,
html {
    --safe-area-top: env(safe-area-inset-top, 0px);
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
    overscroll-behavior: none;
}

#tv-attr-logo {
    display: none;
}

.ios-safe-bottom {
    padding-bottom: var(--safe-area-bottom);
}

.ios-safe-top {
    padding-top: var(--safe-area-top);
}

.ios-safe-offset-top {
    top: var(--safe-area-top) !important;
}

.ios-safe-min-top {
    min-height: calc(100vh - var(--safe-area-top));
}


img {
    -webkit-user-drag: none;
    /* 禁止拖动（Chrome, Safari） */
    user-drag: none;
    /* 标准属性 */
    -webkit-touch-callout: none;
    /* 禁用长按弹出菜单（iOS Safari） */
    -moz-user-select: none;
    /* 禁止选择 */
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    /* 禁用鼠标事件（包括右键） */
}
